<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <title>Ak's BubbleSort</title>
</head>
<body>

<div class="w3-bar w3-black w3-hide-small">
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    <a href="/Mini-lab-storage" class="w3-bar-item w3-button">Mini-lab storage</a>
    <a href="/pokemon_game" class="w3-bar-item w3-button">Test Blueprint</a>
    <a href="pokedex" class="w3-bar-item w3-button">Pokedex</a>
</div>

<div class="col-md-6" style="padding-left:30px;padding-top:30px">
    <h3>Bubble Sorting Lab</h3>
    <img class="img-responsive py-3" alt="" width="25%" height="Auto">
    <form id="stringForm" action="/bubbleSort_ak" method="POST" >
        <label for='dataToSort'><b>Please enter some values (keep spaces in between)<br><br></b></label>
        <input name="dataToSort" id="string" type="text">
        <select id="select" name="data_type" required>
            <option value="string">String</option>
            <option value="integer">Integer</option>
        </select>
        <button>Submit</button>
    </form>
</div>

<div class="col-md-6" style="padding-left:30px;padding-top:30px;">
    <h3>This is the Output</h3>
    <!-- Number, List table -->
    <table class="mx-auto">
        <tr>
            <th scope="row">This is the sorted list:</th>
        </tr>
        <tr>
            <td>{{output_list}}</td>
        </tr>
        <tr>
            <th scope="row">This is the original List:</th>
        </tr>
        <tr>
            <td>{{original_list}}</td>
        </tr>
    </table>
</div>

<body background="https://images.unsplash.com/photo-1568214379698-8aeb8c6c6ac8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
</body>
</html>