<!DOCTYPE html>
<html>
<title>Pokemon Rating Website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
  <a href="Mini-lab-storage" class="w3-bar-item w3-button">Mini-lab storage</a>
  <a href="pokedex" class="w3-bar-item w3-button">Pokedex</a>
  <a href="update_pokedex_db" class="w3-bar-item w3-button">Update db</a>
  <a href="Crossover_API_P4Fish" class="w3-bar-item w3-button">Crossover API</a>
</div>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxlarge"><b>Pokemon Rating Game</b></h1>
    <h6>Welcome to the world of <span class="w3-tag">Pokemon</span>(Scroll down for more details)</h6>
  </header>

  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="https://cdna.artstation.com/p/assets/images/images/020/346/796/original/hortense-frouin-anim-tiplouf.gif?1567436683" alt="Fashion Blog" width="1600" height="800">
    <div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Slackbot's</h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>Pokemon</b></h1>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'"></button></h6>
    </div>
  </header>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>What is our pokemon game?</h3>
          <h5><span class="w3-opacity">March 24th, 2021</span></h5>
        </div>

        <div class="w3-justify">
          <p><strong>Pokemon!</strong> On our site includes an expansive pokedex with over 800 pokemon. Along with that we have several ways of accessing our database. We also have a rating game for each pokemone type, so you can pick and choose which is your favorite</p>
          <p>Play in an open world game! Play with your friends! Play the original pokemon game!</p>
          <p class="w3-clear"></p>
          <div class="w3-row w3-margin-bottom" id="demo1" style="display:none">
            <hr>
            <div class="w3-col l2 m3">
              <img src="" style="width:90px;">
            </div>
            <div class="w3-col l10 m9">
              <h4> <span class="w3-opacity w3-medium"></span></h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Our pokemon game!</h3>
          <h5> <span class="w3-opacity">The game is below</span></h5>
        </div>

        <div class="w3-justify">
          <p><strong>Enter the game!</strong> Make your way though our immersive open world gameplay! Walk up to people and battle them with your pokemon! Fight everyone you can and make your name amongst all the NPCs! Once you finish the game, join the battle tower and play until you can't anymore!</p>
          <p> Below is a endpoint to our pokemon api. When you enter the pokemon's name, you are taken to a page with their json data</p>
          <p class="w3-clear"></p>

          <div class="wrap">
            <div class="w3-center">
              <form action="/get_pokemon_search/" target="_blank" method="get">
                <input type="text" placeholder="Search for a pokemon's data" name="search" style="width: 574px; height: 50px">
                <button type="submit"><img src="https://www.pngkey.com/png/full/87-872246_cropped-lupa-small-search-button-icon.png" width="40" height="40">
              </form>
            </div>


      <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-black">
          <h4>Slackbots</h4>
          <p>Hi there! Were the slack bots, we created this website and this game that you are playing!</p>
        </div>
      </div>
      <hr>



</body>
</html>
