<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minilab storage</title>
</head>
<body>
<h>MiniLab Storage for Individual</h>

<a href="/abhijay" class="w3-bar-item w3-button">Abhijays Lab</a>
<h> </h>
<a href="/ak" class="w3-bar-item w3-button">AK's Lab</a>
<h> </h>
<a href="/aiden" class="w3-bar-item w3-button">Aidens Lab</a>
<h> </h>
<a href="/megan" class="w3-bar-item w3-button">Megans Lab</a>
<h> </h>
<a href="/zachary" class="w3-bar-item w3-button">Zacharys Lab</a>
<h> </h>
<a href="/Mini-lab-storage-Zach" class="w3-bar-item w3-button">Zacharys Bubblesort Lab</a>

<p>Fill in minilab info here</p>


<body background="https://wallpaperaccess.com/full/340434.png">
</body>
</html>