<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minilab storage</title>
</head>
<body>
<h>MiniLab Storage for Individual</h>

<a href="/abhijay" class="w3-bar-item w3-button">Mini-lab storage</a>
<a href="/ak" class="w3-bar-item w3-button">Test Blueprint</a>
<a href="/aiden" class="w3-bar-item w3-button">Mini-lab storage</a>
<a href="/megan" class="w3-bar-item w3-button">Test Blueprint</a>
<a href="/zachary" class="w3-bar-item w3-button">Mini-lab storage</a>

<p>Fill in minilab info here</p>


<body background="https://wallpaperaccess.com/full/340434.png">
</body>
</html>