<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minilab storage</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="w3-bar w3-black w3-hide-small">
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    <a href="/Mini-lab-storage" class="w3-bar-item w3-button">Mini-lab storage</a>
    <a href="/pokemon_game" class="w3-bar-item w3-button">Test Blueprint</a>
    <a href="pokedex" class="w3-bar-item w3-button">Pokedex</a>
    <a href="/" class="w3-bar-item w3-button">Home</a>
</div>

<h>Individual Minilabs:<br></h>

<div style="margin: 15px; border:2px solid black;">
<a style="color:blue" href="/Mini-lab-storage-Abhijay" class="w3-bar-item w3-button">Abhijays Lab</a>
<h> </h>
<a style="color:red" href="/Mini-lab-storage-Ak" class="w3-bar-item w3-button">AK's Lab</a>
<h> </h>
<a style="color:green" href="/Mini-lab-storage-Aiden" class="w3-bar-item w3-button">Aidens Lab</a>
<h> </h>
<a style="color: purple" href="/megan" class="w3-bar-item w3-button">Megans Lab</a>
<h> </h>
<a style="color:orange" href="/zachary" class="w3-bar-item w3-button">Zacharys Lab</a>
<h> </h>
<a href="/Mini-lab-storage-Zach" class="w3-bar-item w3-button">Zacharys Bubblesort Lab</a>
</div>
<!--<p>Fill in minilab info here</p>-->


<body background="https://www.publicdomainpictures.net/pictures/240000/velka/bubble-background-1514566514Hms.jpg">
</body>
</html>
