style>
body {
background: #4286f4;
font-family: arial;
}

h1 {
font-size: 36px;
text-align: center;
}

h1:hover {
color: #ff35c5;
}

form {
font: sans-serif;
text-align: center;
}

p {
font-size: 36px;
font: sans-serif;
text-align: center;
}

#map {
margin: 0 auto;
width: 80%;
height: 80%;
}
</style>

<h1>Pascal's Triangle</h1>
<form id='numberOfRows'>
    Number of Rows:<br>
    <input id='pn' type='number'><br>
    <button id='submit'>Submit</button>
</form>
<p id='triangle'></p>


<script>

    var div = document.getElementById('triangle');

    submit.onclick = function() {
        div.innerHTML = "";
        var rownum = document.getElementById('pn').value;
        printPascal(rownum);
        return false;
    };

    function printPascal(n) {
        // Iterate through every line and
        // print entries in it
        for (var line=0; line < n; line++)
        {
            var lineHTML = "<div class='text-center'>";
            // Every line has number of
            // integers equal to line
            // number
            for (var i = 0; i <= line; i++) {
                lineHTML += "" + binomialCoeff(line, i) + " &nbsp; &nbsp; ";
            }
            lineHTML += "</div>\n";
            div.innerHTML += lineHTML;
        }

    }

    // for details of this function
    function binomialCoeff(n, k)
    {
        var res = 1;
        if (k > n - k)
            k = n - k;
        for (var i = 0; i < k; ++i)
        {
            res *= (n - i);
            res /= (i + 1);
        }
        return res;
    }

</script>