<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pokedex</title>
    <link rel="stylesheet" href="p4-slackbots/static/styles.css" />
    <link
            href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div class="container">
    <h1>Pokedex</h1>
    <ul id="pokedex"></ul>
</div>
<div class="w3-bar w3-black w3-hide-small">
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    <a href="/Mini-lab-storage" class="w3-bar-item w3-button">Mini-lab storage</a>
    <a href="/pokemon_game" class="w3-bar-item w3-button">Test Blueprint</a>
    <a href="pokedex" class="w3-bar-item w3-button">Pokedex</a>
</div>
<script src="p4-slackbots/static/app.js"></script>
</body>
</html>
