<!DOCTYPE html>
{% set result = data %}


<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Pokemon Json Search</title>
    <!-- Linking all the style sheets that we need including css and fonts along with the w3 nav bar css things -->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="w3-bar w3-black w3-hide-small">
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
    <a href="/Mini-lab-storage" class="w3-bar-item w3-button">Mini-lab storage</a>
    <a href="pokedex" class="w3-bar-item w3-button">Pokedex</a>
    <a href="/update_pokedex_db" class="w3-bar-item w3-button">Update db</a>
    <form action="/riot_api_query_search/" target="_blank" method="get">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
    </form>
</div>

<body>
    <h3>{{result}}</h3>
</body>
</html>
